## Functional Programming

* It is anonymous function
* Syntax
    * lambda input : output
* To call ananymous function
    * Without storing on the fly you can call (lambda input : output) (argument)
    
#### Conditions of Functional programming

1. Data & Mutation(ops)
2. Data to be immutable
3. Functions are first class citizen 
    (Also this is called higher order function, when a function takes argument as another function/return 
     another function is called higher order function)

### Inbuilt functional programs
1. Map
    * syntax: map(mutation, data)
2. Filter
3. Reduce
4. Zip ...
    
### Why Lambda function
* When the function going to be used very short span of time, we can go with lambda function
    
    * syntax: lambda arguments : expression

#### Example 1

In [1]:
(lambda x : x ** 2)(4)

16

In [2]:
abc = lambda x : x ** 2

In [3]:
abc (3)

9

In [5]:
result = lambda num : num % 2
result(6)

0

#### Example 2

In [6]:
mul = lambda x, y : x * y

In [7]:
mul(10, 20)

200

## Returning entire function

In [10]:
def outer():
    num = 6
    
    def inner(x):
        return x + num
    return inner

In [11]:
inn = outer()

In [12]:
inn(6)

12

## No return statement in lambda statement

In [15]:
func = lambda x : return x
print(func(2))

SyntaxError: invalid syntax (1192663500.py, line 1)

## Returning function and utilizing dynamically

In [16]:
def nth_multiple(n):
    return lambda x: x * n

In [18]:
nth_multiple_5 = nth_multiple(5)
nth_multiple_5(2)

10

In [19]:
nth_multiple_6 = nth_multiple(6)
nth_multiple_6(2)

12

## Map

In [24]:
# Syntax :  map(mutation, data)

In [25]:
list1 = [1, 2, 3, 4, 5]

### Example 1

#### Approach 1

In [26]:
def mul(x):
    return 2 * x

In [27]:
m = map(mul, list1)
list(m)

[2, 4, 6, 8, 10]

#### Approach 2

In [29]:
m = map(lambda x: 2 * x, list1)
list(m)

[2, 4, 6, 8, 10]

### Example 2

In [32]:
data = ['I think', 'We are good']
data

['I think', 'We are good']

In [34]:
list(map(lambda x : x + ' xyz', data))

['I think xyz', 'We are good xyz']

### Example 3

In [35]:
values = [10, 20, 30, 40, 50]
values

[10, 20, 30, 40, 50]

In [36]:
list(map(lambda x : x + 10, values))

[20, 30, 40, 50, 60]

### Example 4

Find T-Shirt size based on height

* < 150 : S
* 150 - 170 : M
* 180 : L

In [57]:
def findSize(height):
    if height < 150 :
        return 'S'
    elif (height >= 150) and (height < 180):
        return 'M'
    elif height >= 180:
        return 'L'

In [58]:
heights = [152, 182, 170, 181, 180, 172, 146]
t_shirt_size = list(map(findSize, heights))
t_shirt_size

['M', 'L', 'M', 'L', 'L', 'M', 'S']

### Example 5

In [62]:
A = [1, 0, 1, 1, 0, 1, 0, 0, 1, 1]
B = [1, 0, 1, 0, 1, 0, 0, 0, 1, 0]
A = list(map(lambda x, y : x == y, A, B))

# map(mutation, data)

print(sum(A))

6

## Filter

### Example 1 - starts with

In [67]:
data = ['I think', 'We are good']
data

['I think', 'We are good']

In [68]:
list(filter ( lambda x : x.startswith('I'), data ))

['I think']

### Example 2 Filter only even numbers

In [69]:
lst = [4, 5, 7, 9, 19, 14]
lst

[4, 5, 7, 9, 19, 14]

In [70]:
list(filter(lambda x : x % 2 == 0, lst))

[4, 14]

### Example

In [72]:
random = [1, 'a', 0, False, True, '0']
filtered_iterator = filter(None, random)
filtered_list = list(filtered_iterator)
print(filtered_list)

[1, 'a', True, '0']

## Reduce

### Example 1

In [73]:
lis = [1, 4, 3, 2, 5]

In [74]:
from functools import reduce

In [76]:
reduce(lambda x,y: x+y, lis)

15

### Example 2

In [77]:
A = list(range(1, 11))
B = reversed(A)

reduce(lambda x, y : x * y, A) == reduce(lambda a, b : a * b, B)

True

## Sorted & lambda function

In [78]:
data = [('Mahesh', 67), ('John', 98), ('Riya', 73)]
data

[('Mahesh', 67), ('John', 98), ('Riya', 73)]

In [79]:
sorted(data)

[('John', 98), ('Mahesh', 67), ('Riya', 73)]

In [80]:
sorted(data, key = lambda x : x[1])

[('Mahesh', 67), ('Riya', 73), ('John', 98)]

In [81]:
sorted(data, key = lambda x : x[1], reverse=True)

[('John', 98), ('Riya', 73), ('Mahesh', 67)]

### Max & lambda function

In [82]:
lst = [[1, 3], [-4, -1]]

In [83]:
max(lst, key = lambda x: x[0] * x[1])

[-4, -1]

## Filter, Map & Reduce together

#### 1. Remove invalida measurements (inches can't be -ve)
#### 2. Convert inches to cm -> 1 inch = 2.4 cm
#### 3. product of all inches

In [85]:
inches = [2.3, 1.5, -1.2, 0, 4.5]
inches

[2.3, 1.5, -1.2, 0, 4.5]

In [94]:
filtered_list = list(filter(lambda x : x > 0, inches))
filtered_list

[2.3, 1.5, 4.5]

In [95]:
cm_list = list(map(lambda x : x * 2.4, filtered_list))
cm_list

[5.52, 3.5999999999999996, 10.799999999999999]

In [96]:
prd_of_all_inches = reduce(lambda x, y: x * y,  cm_list)
prd_of_all_inches

214.61759999999995

## One More example

In [97]:
vals = [4, 5, 2, 1, 5, 6, 7, 3]
reduce(lambda x, y : x if x > y else y, vals)

7

In [99]:
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'data engineer'),
           ('Frank', 87000, 'data analyst')]

db = [dict(zip(column_names, row)) for row in db_rows]
print(db)

[{'name': 'Alice', 'salary': 180000, 'job': 'data scientist'}, {'name': 'Bob', 'salary': 99000, 'job': 'data engineer'}, {'name': 'Frank', 'salary': 87000, 'job': 'data analyst'}]