## Set

#### properties of set

* Unique
* Unordered
* Mutable
* Only immutable elements are allowed to add/update
* It uses hashing to store the data

In [2]:
s1 = {1, 2, 3, 4, 5}
print(s1)

{1, 2, 3, 4, 5}

In [3]:
s2 = {1, 2, 2, 3, 4, 5, 5, 4, 3}
print(s2)

{1, 2, 3, 4, 5}

### Add a element

In [5]:
s1.add(6)
s1

{1, 2, 3, 4, 5, 6}

In [8]:
s1.add(7, 8, 9)

TypeError: unhashable type: 'set'

### Update multiple elements

In [10]:
s1.update({7, 8, 9})
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
s1.update(7, 8, 9)
s1
# Update alwasys require iterable

TypeError: 'int' object is not iterable

### Adding tuple/list to set

In [12]:
s1.add((10, 11))
s1

{(10, 11), 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
s1.add([20, 21])
s1

#Since List is mutable, list/dict are not allowed to add it into set

TypeError: unhashable type: 'list'

In [16]:
s1.update([20, 21])
s1

# Update unflod the element from list then add as individual element

{(10, 11), 1, 2, 20, 21, 3, 4, 5, 6, 7, 8, 9}

### Remove

In [19]:
s1.remove(9)
s1

{(10, 11), 1, 2, 20, 21, 3, 4, 5, 6, 7, 8}

In [24]:
s1.discard(8)
s1

{(10, 11), 1, 2, 20, 21, 3, 4, 5, 6, 7}

### UFunc

In [20]:
len(s1)

11

In [23]:
for ele in s1:
    print(ele)

1
2
3
4
5
6
7
8
(10, 11)
20
21

## Converting list to set

In [25]:
a = [1, 2, 3, 4, 4, 5, 6, 6]
a

[1, 2, 3, 4, 4, 5, 6, 6]

In [26]:
s = set(a)
s

{1, 2, 3, 4, 5, 6}

## in Operation

In [27]:
5 in s

True

In [28]:
set_a = {1, 'scaler', ['one', 'pie'], False}
print(set_a)

TypeError: unhashable type: 'list'

### Frozendset

* immutable set

In [29]:
fs = frozenset([1, 2, 3])
fs

frozenset({1, 2, 3})